@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    display: flex;
    justify-content: center;
    min-height: 100% !important;
}
body {
    min-width: 100svh;
    min-height: 100svh;
    font-family: IBM Plex Mono,monospace;
   
}
input{
    padding-inline-start: 0.5rem;
}

.p-checkbox .p-checkbox-box{
	border: 1px solid rgb(49, 82, 196);
	border-radius: 6px;
    width: 22px;
    height: 22px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.bg-image{
    background:url(./assets/sky.jpeg); 
    max-width: fit-content;
    max-height: fit-content ;
}
